{% extends 'base.html' %} {% block title %}Taller Automotriz Blaze{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
  <h1>Bienvenido al Taller Automotriz Blaze</h1>
  <p>Gestione sus vehículos y servicios de manera eficiente.</p>

  <div class="row">
    <!-- Sección para Clientes y usuarios -->
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">
            Nuestros Servicios
          </h5>
          <p class="card-text text-center">
            En el Taller Automotriz Blaze ofrecemos una amplia variedad de
            servicios para el cuidado y reparación de tu vehículo, incluyendo:
          </p>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Reparación general y mantenimiento preventivo
              <span class="badge bg-primary rounded-pill">Popular</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Diagnóstico y solución de problemas mecánicos
              <span class="badge bg-secondary rounded-pill">Nuevo</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Pintura y restauración de carrocería
              <span class="badge bg-success rounded-pill">Calidad</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Cambio de aceite y revisiones de seguridad
              <span class="badge bg-warning text-dark rounded-pill"
                >Recomendado</span
              >
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Instalación de accesorios y modificaciones
              <span class="badge bg-info text-dark rounded-pill">Opcional</span>
            </li>
          </ul>
          <p class="mt-3 text-center">
            Nos comprometemos a ofrecer un servicio de alta calidad,
            transparencia y eficiencia. ¡Confía tu vehículo a nuestros expertos!
          </p>
        </div>
      </div>
    </div>

    <!-- Seccion para Dueño -->
    {% if is_dueño %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vehículos</h5>
          <a href="{% url 'lista_vehiculos' %}" class="btn btn-primary"
            >Consultar Vehículos</a
          >
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Seccion para Administrador -->
    {% if is_administrador %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Trabajadores</h5>
          <a href="{% url 'lista_trabajadores' %}" class="btn btn-primary"
            >Consultar Trabajadores</a
          >
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Seccion para Trabajador -->
    {% if is_trabajador %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Procesos</h5>
          <a href="{% url 'registro_proceso' %}" class="btn btn-primary"
            >Registrar Proceso</a
          >
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Seccion para Supervisor -->
    {% if is_supervisor %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Supervisar Procesos</h5>
          <a href="{% url 'lista_procesos' %}" class="btn btn-primary"
            >Consultar Procesos</a
          >
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Dashboard visible solo para Trabajador, Supervisor y Administrador -->
  {% if is_supervisor or is_trabajador or is_administrador %}
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cotizaciones Pendientes</h5>
          <p class="card-text">
            {{ cotizaciones_pendientes.count|default:"0" }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Órdenes Activas</h5>
          <p class="card-text">{{ ordenes_activas.count|default:"0" }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Órdenes Pendientes</h5>
          <p class="card-text">{{ ordenes_pendientes.count|default:"0" }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
