{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5">
  <head>
    <meta charset="UTF-8" />
    <title>Restablecer Contraseña</title>
  </head>
  <body>
    <h2>Restablecer Contraseña</h2>
    <form method="POST">
      {% csrf_token %}
      <input
        type="password"
        name="password"
        placeholder="Nueva contraseña"
        required
      />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirmar contraseña"
        required
      />
      <button type="submit">Restablecer contraseña</button>
    </form>
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
  {% endblock %}
</div>
